.producto-btn {
    min-width: 160px;
    max-width: 180px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease;
    border: 2px solid #86b7fe;
    background-color: white;
    color: #0d6efd;
    padding: 8px;
}

.producto-btn .nombre-producto {
    font-size: 0.85rem;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

.producto-btn .precio-producto {
    font-size: 1rem;
    font-weight: bold;
}

.producto-btn .stock-producto {
    font-size: 0.75rem;
}

.producto-btn:hover {
    background-color: #e7f1ff !important;
    border-color: #0d6efd;
    transform: scale(1.03);
}

.producto-btn:active {
    background-color: #0d6efd !important;
    color: white !important;
    border-color: #0d6efd;
    transform: scale(0.98);
}